.image-container {
    display: flex;
    overflow: hidden;
    z-index: 10;
}
  
.image-container .image-with-text {
    width: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
  
.image-container .image-with-text img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
  
.image-container .image-with-text:hover img {
    transform: scale(1.15);
    filter: blur(3px) brightness(90%);
}

.image-container .image-with-text:hover span{
    color: aqua;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blue;
    font-size: 18px;
}
  