header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  height: 100px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  padding: 5px 100px 5px 100px;
  transition: padding 0.8s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}

.sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0px 150px 0px 150px; 
  height: 100px;
}


.site-logo img {
  width: 100px;
  height: auto;
}

.telephone-container {
  display: flex;
  align-items: center;
}

.telephone-container a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
  font-size: 25px;
  font-weight: 600;
}

.telephone-container a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #333; 
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

nav a:hover {
  transform: scale(1.15);
}


nav a.main-active,
nav a.about-active,
nav a.contacts-active,
nav a.recenze-active {
  font-weight: bold;
}

.telephone-container img {
  width: 40px; 
  height: auto;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.telephone-container img:hover{
  transform: scale(1.2);
}

.vk-logo {
  text-decoration: none;
  display: inline-block;
}

.vk-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.vk-content img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.vk-content img:hover {
  transform: scale(1.2);
}

.discount-text {
  font-size: 16px;
  color: #007bff;
  font-weight: bold;
}
